.card {
  width: 300px;
  height: 500px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
}

.card .container {
  width: 100%;
  height: 100%;
}
.card .container .top {
  height: 60%;
  width: 100%;

  background-size: 100%;
}

.card .container .top img {
  height: 100%;
  width: 100%;
}

.card .container .bottom {
  width: 200%;
  height: 20%;
}

.card .container .bottom h4 {
  margin: 0;
  padding: 0;
}
.card .container .bottom p {
  margin: 0;
  padding: 0;
}
.card .container .bottom {
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}
.card .container .bottom .details {
  padding: 20px;
  float: left;
  width: calc(70% - 100%);
}
.card .container .bottom .favorite {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.card .container .bottom .favorite i {
  font-size: 30px;
  padding: 30px;
  color: #254053;
  transition: transform 0.5s;
}
