.header-favorites {
  margin: inherit;
}

.header-favorites .favorite-btn {
  float: right;
  margin-top: 10px;
}

.favorite-list {
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: inherit;
}

.favorite-list .favorite-text {
  text-align: center;
}

.favorite-list div h2 {
  margin-top: 0;
  color: grey;
  font-style: italic;
}
